 # IMPORT AND CLEAN CSV - HAPPINESS INDEX IN AFRICA

In [1]:
#CSV file from Kaggle (1st information source - https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("world-happiness-report-2021.csv", encoding='ISO-8859-1')

In [4]:
df.drop_duplicates() #dropping duplicates, not to double count

,ï»¿Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,ï»¿Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [6]:
#dropping columns that repeat information neither are relevant for the analysis

In [7]:
df.drop('Standard error of ladder score', axis='columns', inplace=True)

In [8]:
df.drop('upperwhisker', axis='columns', inplace=True)

In [9]:
df.drop('lowerwhisker', axis='columns', inplace=True)

In [10]:
df.drop('Dystopia + residual', axis='columns', inplace=True)

In [11]:
df.drop('Explained by: Perceptions of corruption', axis='columns', inplace=True)

In [12]:
df.drop('Explained by: Log GDP per capita', axis='columns', inplace=True)

In [13]:
df.drop('Explained by: Generosity', axis='columns', inplace=True)

In [14]:
#renaming columns

In [15]:
df.rename(columns={'ï»¿Country name': 'Country'}, inplace=True)
df.columns = df.columns.str.strip()

In [16]:
df.rename(columns={'Ladder score in Dystopia': 'Dystopia'}, inplace=True)
df.columns = df.columns.str.strip()

In [17]:
df.rename(columns={'Explained by: Healthy life expectancy': 'Healthy life expectancy'}, inplace=True)
df.columns = df.columns.str.strip()

In [18]:
df.rename(columns={'Explained by: Social support': 'Social support'}, inplace=True)
df.columns = df.columns.str.strip()

In [19]:
df.rename(columns={'Explained by: Freedom to make life choices': 'Freedom to make life choices'}, inplace=True)
df.columns = df.columns.str.strip()

In [20]:
df.rename(columns={'Ladder score': 'Happiness score'}, inplace=True)
df.columns = df.columns.str.strip()

In [21]:
df.rename(columns={'Logged GDP per capita': 'GDP per capita'}, inplace=True)
df.columns = df.columns.str.strip()

In [22]:
df.rename(columns={'Regional indicator': 'Region'}, inplace=True)
df.columns = df.columns.str.strip()

In [23]:
#focus in Africa, dropping other regions
df.drop(df[df['Region'] == 'Central and Eastern Europe'].index, inplace = True)
df.drop(df[df['Region'] == 'Western Europe'].index, inplace = True)
df.drop(df[df['Region'] == 'Commonwealth of Independent States'].index, inplace = True)
df.drop(df[df['Region'] == 'Western Europe'].index, inplace = True)
df.drop(df[df['Region'] == 'East Asia'].index, inplace = True)
df.drop(df[df['Region'] == 'Latin America and Caribbean'].index, inplace = True)
df.drop(df[df['Region'] == 'North America and ANZ'].index, inplace = True)
df.drop(df[df['Region'] == 'South Asia'].index, inplace = True)
df.drop(df[df['Region'] == 'Southeast Asia'].index, inplace = True)
df.drop(df[df['Region'] == 'Western Europe'].index, inplace = True)

In [24]:
df.drop(df[df['Country'] == 'Israel'].index, inplace = True)
df.drop(df[df['Country'] == 'Bahrain'].index, inplace = True)
df.drop(df[df['Country'] == 'United Arab Emirates'].index, inplace = True)
df.drop(df[df['Country'] == 'Saudi Arabia'].index, inplace = True)
df.drop(df[df['Country'] == 'Kuwait'].index, inplace = True)
df.drop(df[df['Country'] == 'Turkey'].index, inplace = True)
df.drop(df[df['Country'] == 'Iraq'].index, inplace = True)
df.drop(df[df['Country'] == 'Iran'].index, inplace = True)
df.drop(df[df['Country'] == 'Lebanon'].index, inplace = True)
df.drop(df[df['Country'] == 'Palestinan Territories'].index, inplace = True)
df.drop(df[df['Country'] == 'Jordan'].index, inplace = True)
df.drop(df[df['Country'] == 'Yemen'].index, inplace = True)

In [25]:
#csv cleaned

In [26]:
df.head() #sorted by happiness score

,Country,Region,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia,Social support,Healthy life expectancy,Freedom to make life choices
49,Mauritius,Sub-Saharan Africa,6.049,10.008,0.905,66.701,0.867,-0.054,0.789,2.43,0.996,0.574,0.590
79,Libya,Middle East and North Africa,5.410,9.622,0.827,62.300,0.771,-0.087,0.667,2.43,0.821,0.435,0.474
82,Congo (Brazzaville),Sub-Saharan Africa,5.342,8.117,0.636,58.221,0.695,-0.068,0.745,2.43,0.392,0.307,0.381
84,Ivory Coast,Sub-Saharan Africa,5.306,8.551,0.644,50.114,0.741,-0.016,0.794,2.43,0.409,0.052,0.438
90,Cameroon,Sub-Saharan Africa,5.142,8.189,0.710,53.515,0.731,0.026,0.848,2.43,0.556,0.159,0.425

In [27]:
df.to_csv('../Proyecto_ETL/world-happiness-report-2021-CLEAN.csv', index=False)

# WEB SCRAPPING USING SELENIUM - AFRICA SUNNY DAYS

In [28]:
#Web scrapping from Wikipedia (2nd information source)

In [29]:
from selenium import webdriver

In [30]:
from webdriver_manager.chrome import ChromeDriverManager

In [31]:
import time
import requests
import lxml.html as lh

In [32]:
webdriver.Chrome('/mnt/c/Users/banking12/desktop/lab_scraping_selenium/your-code/driver/chromedriver.exe')

In [33]:
url = 'https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration'

In [34]:
driver= webdriver.Chrome('/mnt/c/Users/banking12/desktop/lab_scraping_selenium/your-code/driver/chromedriver.exe')
driver.get(url)
time.sleep(2) 

table=driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[2]')
table=table.find_element_by_tag_name('tbody')
rows=table.find_elements_by_tag_name('tr')
data=[[e.text for e in r.find_elements_by_tag_name('td')] for r in rows]
data

[['Ivory Coast',
  'Gagnoa',
  '183.0',
  '180.0',
  '196.0',
  '188.0',
  '181.0',
  '118.0',
  '97.0',
  '80.0',
  '110.0',
  '155.0',
  '171.0',
  '164.0',
  '1,823.0',
  '[2]'],
 ['Ivory Coast',
  'Bouaké',
  '242.0',
  '224.0',
  '219.0',
  '194.0',
  '208.0',
  '145.0',
  '104.0',
  '82.0',
  '115.0',
  '170.0',
  '191.0',
  '198.0',
  '2,092.0',
  '[2]'],
 ['Ivory Coast',
  'Abidjan',
  '223.0',
  '223.0',
  '239.0',
  '214.0',
  '205.0',
  '128.0',
  '137.0',
  '125.0',
  '139.0',
  '215.0',
  '224.0',
  '224.0',
  '2,296.0',
  '[2]'],
 ['Ivory Coast',
  'Odienné',
  '242.0',
  '220.2',
  '217.3',
  '214.7',
  '248.8',
  '221.8',
  '183.5',
  '174.5',
  '185.4',
  '235.8',
  '252.0',
  '242.6',
  '2,638.6',
  '[3]'],
 ['Ivory Coast',
  'Ferké',
  '279.0',
  '249.0',
  '253.0',
  '229.0',
  '251.0',
  '221.0',
  '183.0',
  '151.0',
  '173.0',
  '245.0',
  '261.0',
  '262.0',
  '2,757.0',
  '[2]'],
 ['Benin',
  'Cotonou',
  '213.9',
  '210.0',
  '223.2',
  '219.0',
  '213.9',
  '141.0',
  '136.4',
  '148.8',
  '165.0',
  '207.7',
  '243.0',
  '223.2',
  '2,345.2',
  '[4]'],
 ['Benin',
  'Parakou',
  '261.0',
  '243.0',
  '252.0',
  '230.0',
  '239.0',
  '193.0',
  '133.0',
  '104.0',
  '129.0',
  '217.0',
  '252.0',
  '248.0',
  '2,501.0',
  '[2]'],
 ['Benin',
  'Kandi',
  '279.0',
  '257.6',
  '260.4',
  '255.0',
  '272.8',
  '252.0',
  '223.2',
  '195.3',
  '213.0',
  '275.9',
  '282.0',
  '279.0',
  '3,045.2',
  '[5]'],
 ['Togo',
  'Lomé',
  '217.5',
  '214.0',
  '227.9',
  '201.9',
  '208.6',
  '146.0',
  '141.6',
  '148.8',
  '152.5',
  '205.5',
  '234.0',
  '235.6',
  '2,333.9',
  '[6]'],
 ['Togo',
  'Mango',
  '285.0',
  '254.0',
  '270.0',
  '241.0',
  '261.0',
  '219.0',
  '168.0',
  '131.0',
  '161.0',
  '273.0',
  '284.0',
  '279.0',
  '2,826.0',
  '[2]'],
 ['Ghana',
  'Accra',
  '217.0',
  '226.0',
  '217.0',
  '210.0',
  '217.0',
  '150.0',
  '155.0',
  '155.0',
  '180.0',
  '217.0',
  '240.0',
  '248.0',
  '2,432.0',
  '[7]'],
 ['Ghana',
  'Tamale',
  '265.6',
  '235.7',
  '249.6',
  '229.0',
  '248.0',
  '212.0',
  '171.5',
  '139.0',
  '161.0',
  '260.9',
  '283.0',
  '263.5',
  '2,718.7',
  '[8]'],
 ['Ghana',
  'Kumasi',
  '186.6',
  '187.2',
  '205.4',
  '204.0',
  '204.7',
  '146.3',
  '101.2',
  '77.0',
  '106.2',
  '161.4',
  '193.8',
  '178.0',
  '1,951.8',
  '[9]'],
 ['Cameroon',
  'Garoua',
  '275.0',
  '252.6',
  '260.1',
  '245.4',
  '256.7',
  '224.4',
  '194.0',
  '187.2',
  '204.5',
  '261.5',
  '279.2',
  '286.5',
  '2,927.1',
  '[10]'],
 ['Cameroon',
  "N'Gaoundéré",
  '286.4',
  '258.7',
  '235.4',
  '195.5',
  '195.4',
  '165.7',
  '128.0',
  '127.8',
  '139.0',
  '184.0',
  '264.1',
  '291.4',
  '2,471.4',
  '[11]'],
 ['Cameroon',
  'Douala',
  '184.0',
  '179.0',
  '170.0',
  '174.0',
  '169.0',
  '107.0',
  '55.0',
  '46.0',
  '79.0',
  '120.0',
  '160.0',
  '175.0',
  '1,618.0',
  '[2]'],
 ['Cameroon',
  'Yaoundé',
  '177.0',
  '172.0',
  '149.0',
  '153.0',
  '158.0',
  '112.0',
  '85.0',
  '83.0',
  '97.0',
  '120.0',
  '159.0',
  '179.0',
  '1,644.0',
  '[2]'],
 ['Gabon',
  'Libreville',
  '175.2',
  '176.8',
  '176.9',
  '176.8',
  '159.5',
  '130.6',
  '119.2',
  '90.4',
  '95.9',
  '112.9',
  '134.6',
  '167.8',
  '1,716.6',
  '[12]'],
 ['Gabon',
  'Port-Gentil',
  '150.4',
  '160.8',
  '154.5',
  '151.5',
  '147.8',
  '156.3',
  '163.1',
  '135.3',
  '125.7',
  '116.1',
  '115.1',
  '147.2',
  '1,723.8',
  '[13]'],
 ['Nigeria',
  'Lagos',
  '164.3',
  '169.5',
  '173.6',
  '180.0',
  '176.7',
  '114.0',
  '99.2',
  '108.5',
  '114.0',
  '167.4',
  '186.0',
  '192.2',
  '1,845.4',
  '[14]'],
 ['Nigeria',
  'Makurdi',
  '236.0',
  '226.0',
  '223.0',
  '216.0',
  '223.0',
  '177.0',
  '143.0',
  '118.0',
  '144.0',
  '198.0',
  '228.0',
  '248.0',
  '2,380.0',
  '[15]'],
 ['Nigeria',
  'Jos',
  '307.0',
  '274.0',
  '260.0',
  '220.0',
  '208.0',
  '201.0',
  '151.0',
  '127.0',
  '171.0',
  '242.0',
  '294.0',
  '313.0',
  '2,768.0',
  '[15]'],
 ['Nigeria',
  'Kano',
  '275.0',
  '255.0',
  '267.0',
  '252.0',
  '273.0',
  '261.0',
  '233.0',
  '186.0',
  '237.0',
  '295.0',
  '297.0',
  '285.0',
  '3,114.0',
  '[15]'],
 ['Nigeria',
  'Sokoto',
  '279.0',
  '269.0',
  '282.0',
  '255.0',
  '279.0',
  '282.0',
  '229.0',
  '208.0',
  '243.0',
  '307.0',
  '297.0',
  '288.0',
  '3,238.0',
  '[15]'],
 ['Sudan',
  'Port Sudan',
  '214.0',
  '230.0',
  '282.0',
  '312.0',
  '338.0',
  '309.0',
  '307.0',
  '298.0',
  '300.0',
  '307.0',
  '249.0',
  '236.0',
  '3,382.0',
  '[15]'],
 ['Sudan',
  'Khartoum',
  '341.0',
  '311.0',
  '310.0',
  '330.0',
  '300.0',
  '300.0',
  '279.0',
  '279.0',
  '300.0',
  '310.0',
  '330.0',
  '341.0',
  '3,737.1',
  '[16]'],
 ['Eritrea',
  'Asmara',
  '304.7',
  '289.1',
  '300.7',
  '300.5',
  '298.5',
  '271.5',
  '217.9',
  '220.1',
  '260.4',
  '301.0',
  '292.5',
  '299.1',
  '3,361.0',
  '[17]'],
 ['Burkina Faso',
  'Ouagadougou',
  '287.0',
  '263.0',
  '264.0',
  '256.0',
  '277.0',
  '264.0',
  '240.0',
  '223.0',
  '217.0',
  '273.0',
  '288.0',
  '284.0',
  '3,136.0',
  '[18]'],
 ['Burkina Faso',
  'Ouahigouya',
  '291.0',
  '267.0',
  '280.0',
  '268.0',
  '284.0',
  '272.0',
  '258.0',
  '253.0',
  '261.0',
  '280.0',
  '288.0',
  '280.0',
  '3,282.0',
  '[19]'],
 ['Niger',
  'Niamey',
  '297.6',
  '263.2',
  '269.7',
  '252.0',
  '279.0',
  '267.0',
  '257.3',
  '235.6',
  '235.6',
  '282.6',
  '282.0',
  '279.0',
  '3,203.2',
  '[20]'],
 ['Chad',
  "N'Djamena",
  '297.6',
  '277.2',
  '282.1',
  '273.0',
  '285.2',
  '258.0',
  '213.9',
  '201.5',
  '228.0',
  '285.2',
  '300.0',
  '303.8',
  '3,205.5',
  '[21]'],
 ['Chad',
  'Abéché',
  '316.2',
  '291.2',
  '300.7',
  '300.0',
  '313.1',
  '300.0',
  '254.2',
  '226.3',
  '261.0',
  '306.9',
  '312.0',
  '319.3',
  '3,500.9',
  '[22]'],
 ['Gambia',
  'Banjul',
  '279.0',
  '282.0',
  '310.0',
  '300.0',
  '310.0',
  '270.0',
  '186.0',
  '186.0',
  '180.0',
  '248.0',
  '240.0',
  '279.0',
  '3,070.0',
  '[23]'],
 ['Senegal',
  'Dakar',
  '253.0',
  '249.0',
  '303.0',
  '301.0',
  '299.0',
  '259.0',
  '233.0',
  '204.0',
  '219.0',
  '254.0',
  '256.0',
  '249.0',
  '3,078.0',
  '[2]'],
 ['Senegal',
  'Thiès',
  '267.0',
  '260.0',
  '325.0',
  '332.0',
  '324.0',
  '276.0',
  '226.0',
  '188.0',
  '221.0',
  '267.0',
  '271.0',
  '257.0',
  '3,214.0',
  '[2]'],
 ['Somalia',
  'Mogadishu',
  '268.0',
  '251.0',
  '282.0',
  '260.0',
  '273.0',
  '218.0',
  '226.0',
  '253.0',
  '265.0',
  '267.0',
  '261.0',
  '259.0',
  '3,082.0',
  '[15]'],
 ['Somalia',
  'Buloburde',
  '290.0',
  '283.0',
  '293.0',
  '249.0',
  '287.0',
  '261.0',
  '216.0',
  '238.0',
  '262.0',
  '230.0',
  '246.0',
  '268.0',
  '3,124.0',
  '[24]'],
 ['Djibouti',
  'Djibouti City',
  '254.0',
  '249.0',
  '279.0',
  '279.0',
  '310.0',
  '237.0',
  '236.0',
  '276.0',
  '282.0',
  '310.0',
  '291.0',
  '276.0',
  '3,279.0',
  '[25]'],
 ['Mali',
  'Ségou',
  '292.0',
  '276.0',
  '292.0',
  '263.0',
  '274.0',
  '266.0',
  '254.0',
  '223.0',
  '242.0',
  '283.0',
  '287.0',
  '287.0',
  '3,239.0',
  '[26]'],
 ['Mali',
  'Timbuktu',
  '263.9',
  '249.6',
  '269.9',
  '254.6',
  '275.3',
  '234.7',
  '248.6',
  '255.3',
  '248.9',
  '273.0',
  '274.0',
  '258.7',
  '3,106.5',
  '[27]'],
 ['Mali',
  'Bamako',
  '277.4',
  '253.0',
  '268.1',
  '230.4',
  '242.6',
  '233.6',
  '216.6',
  '218.3',
  '221.7',
  '253.7',
  '270.7',
  '268.9',
  '2,954.1',
  '[28]'],
 ['Algeria',
  'Algiers',
  '149.0',
  '165.0',
  '202.0',
  '258.0',
  '319.0',
  '318.0',
  '350.0',
  '319.0',
  '237.0',
  '229.0',
  '165.0',
  '136.0',
  '2,847.0',
  '[29]'],
 ['Algeria',
  'Tamanrasset',
  '297.6',
  '275.5',
  '322.4',
  '327.0',
  '328.6',
  '306.0',
  '356.5',
  '331.7',
  '288.0',
  '310.0',
  '285.0',
  '272.8',
  '3,686.0',
  '[30]'],
 ['Tunisia',
  'Tunis',
  '145.7',
  '165.3',
  '198.4',
  '225.0',
  '282.1',
  '309.0',
  '356.5',
  '328.6',
  '258.0',
  '217.0',
  '174.0',
  '148.8',
  '2,808.4',
  '[31]'],
 ['Tunisia',
  'Gabes',
  '220.1',
  '215.6',
  '251.1',
  '267.0',
  '313.1',
  '321.0',
  '372.0',
  '353.4',
  '279.0',
  '260.4',
  '228.0',
  '210.8',
  '3,291.5',
  '[32]'],
 ['Morocco',
  'Rabat',
  '179.8',
  '183.6',
  '232.5',
  '255.0',
  '291.4',
  '288.0',
  '316.2',
  '306.9',
  '261.0',
  '235.6',
  '189.0',
  '179.8',
  '2,918.8',
  '[33]'],
 ['Morocco',
  'Marrakech',
  '220.1',
  '211.8',
  '248.0',
  '255.0',
  '288.3',
  '315.0',
  '334.8',
  '316.2',
  '264.0',
  '244.9',
  '213.0',
  '220.1',
  '3,131.2',
  '[34]'],
 ['Morocco',
  'Ouarzazate',
  '251.8',
  '244.9',
  '297.2',
  '315.2',
  '332.7',
  '335.0',
  '317.7',
  '293.2',
  '266.4',
  '271.3',
  '242.9',
  '248.1',
  '3,416.4',
  '[35]'],
 ['Egypt',
  'Alexandria',
  '217.0',
  '226.2',
  '279.0',
  '318.0',
  '337.9',
  '357.0',
  '372.0',
  '368.9',
  '333.0',
  '306.9',
  '246.0',
  '207.7',
  '3,579.5',
  '[36]'],
 ['Egypt',
  'Cairo',
  '229.4',
  '234.9',
  '279.0',
  '306.0',
  '331.7',
  '363.0',
  '372.0',
  '356.5',
  '318.0',
  '294.5',
  '246.0',
  '210.8',
  '3,541.8',
  '[36]'],
 ['Egypt',
  'Dakhla Oasis',
  '294.5',
  '279.7',
  '316.2',
  '315.0',
  '356.5',
  '366.0',
  '384.4',
  '375.1',
  '336.0',
  '328.6',
  '300.0',
  '291.4',
  '3,943.4',
  '?'],
 ['Egypt',
  'Hurghada',
  '265.7',
  '277.6',
  '274.3',
  '285.6',
  '317.4',
  '348.0',
  '352.3',
  '322.4',
  '301.6',
  '275.2',
  '263.9',
  '246.7',
  '3,530.7',
  '?'],
 ['Egypt',
  'Marsa Alam',
  '279.0',
  '283.0',
  '310.0',
  '330.0',
  '372.0',
  '390.0',
  '403.0',
  '372.0',
  '330.0',
  '310.0',
  '300.0',
  '279.0',
  '3,958.0',
  '?'],
 ['Libya',
  'Tripoli',
  '206.0',
  '214.0',
  '237.0',
  '250.0',
  '315.0',
  '312.0',
  '376.0',
  '352.0',
  '271.0',
  '244.0',
  '212.0',
  '198.0',
  '3,187.0',
  '[37]'],
 ['Libya',
  'Benghazi',
  '179.8',
  '192.0',
  '232.5',
  '252.0',
  '319.3',
  '327.0',
  '381.3',
  '365.8',
  '288.0',
  '251.1',
  '213.0',
  '167.4',
  '3,169.2',
  '[38]'],
 ['Kenya',
  'Mombasa',
  '269.7',
  '257.1',
  '269.7',
  '225.0',
  '204.6',
  '207.0',
  '210.8',
  '244.9',
  '246.0',
  '272.8',
  '264.0',
  '260.4',
  '2,932.0',
  '[39]'],
 ['Kenya',
  'Nairobi',
  '288.3',
  '266.0',
  '266.6',
  '204.0',
  '189.1',
  '159.0',
  '130.2',
  '127.1',
  '180.0',
  '226.3',
  '198.0',
  '257.3',
  '2,491.9',
  '[40]'],
 ['Kenya',
  'Garissa',
  '251.1',
  '235.2',
  '263.5',
  '273.0',
  '282.1',
  '255.0',
  '254.2',
  '257.3',
  '270.0',
  '279.0',
  '252.0',
  '241.8',
  '3,114.2',
  '[41]'],
 ['Kenya',
  'Lodwar',
  '319.0',
  '280.0',
  '282.0',
  '279.0',
  '307.0',
  '297.0',
  '279.0',
  '310.0',
  '321.0',
  '316.0',
  '282.0',
  '310.0',
  '3,582.0',
  '[24]'],
 ['Angola',
  'Luanda',
  '219.0',
  '208.0',
  '213.0',
  '199.0',
  '233.0',
  '223.0',
  '175.0',
  '150.0',
  '145.0',
  '164.0',
  '199.0',
  '212.0',
  '2,341.0',
  '[15]'],
 ['South Sudan',
  'Juba',
  '288.3',
  '237.8',
  '220.1',
  '195.0',
  '241.8',
  '225.0',
  '182.9',
  '213.9',
  '225.0',
  '235.6',
  '237.0',
  '251.1',
  '2,753.5',
  '[36]'],
 ['South Sudan',
  'Wau',
  '300.7',
  '269.7',
  '260.4',
  '228.0',
  '254.2',
  '237.0',
  '176.7',
  '192.2',
  '210.0',
  '229.4',
  '267.0',
  '303.8',
  '2,929.1',
  '[36]'],
 ['Tanzania',
  'Dar-es-Salaam',
  '251.0',
  '241.0',
  '217.0',
  '156.0',
  '192.0',
  '231.0',
  '251.0',
  '242.0',
  '243.0',
  '254.0',
  '270.0',
  '287.0',
  '2,815.0',
  '[15]'],
 ['Tanzania',
  'Zanzibar',
  '251.0',
  '243.0',
  '213.0',
  '180.0',
  '210.0',
  '220.0',
  '235.0',
  '253.0',
  '254.0',
  '270.0',
  '250.0',
  '259.0',
  '2,838.0',
  '[42]'],
 ['Tanzania',
  'Tabora',
  '216.0',
  '218.0',
  '219.0',
  '227.0',
  '283.0',
  '303.0',
  '310.0',
  '297.0',
  '312.0',
  '301.0',
  '240.0',
  '217.0',
  '3,143.0',
  '[42]'],
 ['Tanzania',
  'Dodoma',
  '241.8',
  '217.5',
  '241.8',
  '240.0',
  '279.0',
  '294.0',
  '341.0',
  '297.6',
  '300.0',
  '310.0',
  '303.0',
  '269.7',
  '3,335.4',
  '[43]'],
 ['Ethiopia',
  'Mekelle',
  '294.2',
  '276.7',
  '279.9',
  '277.2',
  '303.2',
  '230.1',
  '165.5',
  '166.5',
  '248.7',
  '291.1',
  '292.8',
  '303.5',
  '3,129.4',
  '[44]'],
 ['Ethiopia',
  'Addis Abeba',
  '269.7',
  '246.5',
  '248.0',
  '213.0',
  '217.0',
  '156.0',
  '111.6',
  '133.3',
  '138.0',
  '266.6',
  '267.0',
  '266.6',
  '2,440.3',
  '[36]'],
 ['Congo',
  'Brazaville',
  '168.0',
  '152.0',
  '194.0',
  '185.0',
  '188.0',
  '153.0',
  '127.0',
  '149.0',
  '145.0',
  '150.0',
  '157.0',
  '147.0',
  '1,915.0',
  '[2]'],
 ['Congo',
  'Pointe-Noire',
  '157.0',
  '156.0',
  '164.0',
  '160.0',
  '150.0',
  '132.0',
  '119.0',
  '106.0',
  '70.0',
  '93.0',
  '123.0',
  '144.0',
  '1,574.0',
  '[2]'],
 ['Congo',
  'Dolisie',
  '153.0',
  '164.0',
  '159.0',
  '152.0',
  '151.0',
  '136.0',
  '119.0',
  '105.0',
  '91.0',
  '116.0',
  '128.0',
  '133.0',
  '1,607.0',
  '[2]'],
 ['Democratic Republic of the Congo',
  'Kinshasa',
  '124.0',
  '140.0',
  '155.0',
  '150.0',
  '155.0',
  '120.0',
  '124.0',
  '155.0',
  '120.0',
  '155.0',
  '150.0',
  '124.0',
  '1,672.0',
  '[45]'],
 ['Democratic Republic of the Congo',
  'Lubumbashi',
  '129.0',
  '120.0',
  '174.0',
  '234.0',
  '291.0',
  '295.0',
  '315.0',
  '318.0',
  '294.0',
  '282.0',
  '194.0',
  '132.0',
  '2,778.0',
  '[15]'],
 ['Mauritania',
  'Nouadhibou',
  '271.0',
  '248.0',
  '300.0',
  '295.0',
  '315.0',
  '303.0',
  '275.0',
  '281.0',
  '261.0',
  '260.0',
  '257.0',
  '264.0',
  '3,332.0',
  '[2]'],
 ['Mauritania',
  'Nouakchott',
  '267.0',
  '250.0',
  '302.0',
  '311.0',
  '320.0',
  '284.0',
  '271.0',
  '265.0',
  '266.0',
  '263.0',
  '268.0',
  '267.0',
  '3,333.0',
  '[2]'],
 ['South Africa',
  'Pretoria',
  '261.0',
  '235.0',
  '254.0',
  '246.6',
  '283.0',
  '271.0',
  '289.0',
  '296.0',
  '284.0',
  '275.0',
  '254.0',
  '272.0',
  '3,220.0',
  '[46]'],
 ['South Africa',
  'Cape Town',
  '337.9',
  '297.4',
  '292.9',
  '233.5',
  '205.3',
  '175.4',
  '193.1',
  '212.1',
  '224.7',
  '277.7',
  '309.8',
  '334.2',
  '3,094.0',
  '[47]'],
 ['South Africa',
  'Johannesburg',
  '250.1',
  '224.8',
  '238.8',
  '236.9',
  '276.0',
  '266.9',
  '283.9',
  '284.1',
  '280.8',
  '269.5',
  '248.7',
  '263.9',
  '3,124.4',
  '[48]'],
 ['South Africa',
  'Bloemfontein',
  '296.3',
  '247.9',
  '258.6',
  '250.2',
  '266.0',
  '249.9',
  '272.6',
  '285.9',
  '278.0',
  '290.9',
  '296.5',
  '319.5',
  '3,312.3',
  '[49]'],
 ['South Africa',
  'Upington',
  '352.9',
  '298.7',
  '297.5',
  '283.5',
  '290.5',
  '270.3',
  '289.8',
  '307.3',
  '300.2',
  '328.9',
  '345.2',
  '367.0',
  '3,731.8',
  '[50]'],
 ['South Africa',
  'Durban',
  '184.0',
  '178.8',
  '201.6',
  '206.4',
  '223.6',
  '224.9',
  '230.4',
  '217.0',
  '173.3',
  '169.4',
  '166.1',
  '189.9',
  '2,365.4',
  '[51]'],
 ['Botswana',
  'Maun',
  '245.0',
  '207.0',
  '257.0',
  '282.0',
  '310.0',
  '300.0',
  '313.0',
  '332.0',
  '315.0',
  '291.0',
  '264.0',
  '214.0',
  '3,330.0',
  '[15]'],
 ['Botswana',
  'Gaborone',
  '280.6',
  '261.5',
  '264.4',
  '260.5',
  '284.2',
  '260.0',
  '292.4',
  '313.6',
  '308.4',
  '295.4',
  '265.5',
  '285.2',
  '3,371.0',
  '[52]'],
 ['Botswana',
  'Ghanzi',
  '295.0',
  '280.0',
  '313.0',
  '282.0',
  '316.0',
  '306.0',
  '316.0',
  '319.0',
  '305.0',
  '279.0',
  '300.0',
  '267.0',
  '3,579.0',
  '[15]'],
 ['Zambia',
  'Ndola',
  '151.9',
  '142.8',
  '192.2',
  '243.0',
  '279.0',
  '276.0',
  '297.6',
  '297.6',
  '279.0',
  '269.7',
  '207.0',
  '158.1',
  '2,793.9',
  '[53]'],
 ['Zambia',
  'Lusaka',
  '176.7',
  '168.0',
  '220.1',
  '246.0',
  '275.9',
  '270.0',
  '294.5',
  '303.8',
  '291.0',
  '272.8',
  '234.0',
  '182.9',
  '2,935.7',
  '[54]'],
 ['Zambia',
  'Livingstone',
  '213.9',
  '196.0',
  '251.1',
  '273.0',
  '303.8',
  '288.0',
  '310.0',
  '319.3',
  '297.0',
  '279.0',
  '228.0',
  '207.7',
  '3,166.8',
  '[55]'],
 ['Zimbabwe',
  'Harare',
  '217.0',
  '190.4',
  '232.5',
  '249.0',
  '269.7',
  '264.0',
  '279.0',
  '300.7',
  '294.0',
  '285.2',
  '231.0',
  '198.4',
  '3,010.9',
  '[56]'],
 ['Zimbabwe',
  'Bulawayo',
  '244.9',
  '212.8',
  '251.1',
  '252.0',
  '279.0',
  '267.0',
  '288.3',
  '300.7',
  '288.0',
  '272.8',
  '237.0',
  '226.3',
  '3,119.9',
  '[57]'],
 ['Malawi',
  'Karonga',
  '176.7',
  '170.8',
  '207.7',
  '222.0',
  '254.2',
  '264.0',
  '285.2',
  '306.9',
  '306.0',
  '319.3',
  '273.0',
  '213.9',
  '2,999.7',
  '[58]'],
 ['Malawi',
  'Blantyre',
  '198.4',
  '182.0',
  '217.0',
  '237.0',
  '260.4',
  '237.0',
  '232.3',
  '260.4',
  '270.0',
  '275.9',
  '228.0',
  '198.4',
  '2,797.0',
  '[59]'],
 ['Malawi',
  'Mzuzu',
  '145.7',
  '142.1',
  '164.3',
  '171.0',
  '217.0',
  '219.0',
  '238.5',
  '275.9',
  '288.0',
  '300.7',
  '252.0',
  '176.7',
  '2,590.9',
  '[60]'],
 ['Madagascar',
  'Fianarantsoa',
  '191.1',
  '171.0',
  '175.4',
  '184.8',
  '186.0',
  '165.9',
  '163.5',
  '191.1',
  '220.5',
  '230.4',
  '208.0',
  '190.1',
  '2,277.8',
  '[61]'],
 ['Madagascar',
  'Toamasina',
  '224.7',
  '198.2',
  '191.0',
  '196.9',
  '192.1',
  '162.5',
  '162.8',
  '184.6',
  '209.7',
  '232.7',
  '236.0',
  '219.2',
  '2,410.4',
  '[62]'],
 ['Madagascar',
  'Antananarivo',
  '210.5',
  '178.0',
  '199.1',
  '220.5',
  '228.8',
  '206.1',
  '213.9',
  '235.0',
  '249.5',
  '251.0',
  '232.7',
  '201.1',
  '2,626.2',
  '[63]'],
 ['Madagascar',
  'Antsiranana',
  '189.2',
  '170.0',
  '214.9',
  '256.4',
  '284.8',
  '256.5',
  '273.1',
  '283.6',
  '293.3',
  '306.8',
  '281.5',
  '228.9',
  '3,039.0',
  '[64]'],
 ['Madagascar',
  'Mahajanga',
  '209.0',
  '184.9',
  '244.8',
  '269.9',
  '294.9',
  '282.9',
  '291.5',
  '303.1',
  '307.0',
  '319.7',
  '288.2',
  '227.3',
  '3,223.2',
  '[65]'],
 ['Madagascar',
  'Toliara',
  '305.0',
  '285.0',
  '296.0',
  '302.0',
  '306.0',
  '277.0',
  '291.0',
  '298.0',
  '307.0',
  '324.0',
  '313.0',
  '306.0',
  '3,610.0',
  '[15]'],
 ['Mozambique',
  'Maputo',
  '248.0',
  '226.0',
  '248.0',
  '240.0',
  '248.0',
  '240.0',
  '248.0',
  '248.0',
  '248.0',
  '217.0',
  '210.0',
  '217.0',
  '2,838.0',
  '[66]'],
 ['Central African Republic',
  'Bangui',
  '217.0',
  '196.0',
  '186.0',
  '180.0',
  '186.0',
  '180.0',
  '124.0',
  '124.0',
  '150.0',
  '155.0',
  '180.0',
  '217.0',
  '2,095.0',
  '[67]'],
 ['Central African Republic',
  'Birao',
  '289.6',
  '275.0',
  '270.6',
  '248.1',
  '255.7',
  '216.9',
  '190.7',
  '186.5',
  '210.0',
  '267.2',
  '290.3',
  '297.4',
  '2,998.0',
  '[68]'],
 ['Uganda',
  'Kampala',
  '238.0',
  '193.0',
  '189.0',
  '195.0',
  '187.0',
  '189.0',
  '139.0',
  '168.0',
  '157.0',
  '172.0',
  '178.0',
  '205.0',
  '2,210.0',
  '[42]'],
 ['Uganda',
  'Entebbe',
  '233.0',
  '204.0',
  '205.0',
  '180.0',
  '192.0',
  '186.0',
  '198.0',
  '195.0',
  '195.0',
  '201.0',
  '198.0',
  '211.0',
  '2,398.0',
  '[15]'],
 ['Burundi',
  'Bujumbura',
  '167.4',
  '158.2',
  '176.7',
  '165.0',
  '210.8',
  '255.0',
  '272.8',
  '251.1',
  '213.0',
  '189.1',
  '150.0',
  '164.3',
  '2,373.4',
  '[69]'],
 ['Guinea',
  'Conakry',
  '223.0',
  '224.0',
  '251.0',
  '222.0',
  '208.0',
  '153.0',
  '109.0',
  '87.0',
  '135.0',
  '189.0',
  '207.0',
  '214.0',
  '2,222.0',
  '[70]'],
 ['Guinea',
  'Kankan',
  '262.0',
  '236.0',
  '249.0',
  '220.0',
  '234.0',
  '216.0',
  '169.0',
  '159.0',
  '191.0',
  '221.0',
  '241.0',
  '260.0',
  '2,658.0',
  '[71]'],
 ['Guinea-Bissau',
  'Bissau',
  '248.0',
  '226.0',
  '279.0',
  '270.0',
  '248.0',
  '210.0',
  '186.0',
  '155.0',
  '180.0',
  '217.0',
  '240.0',
  '248.0',
  '2,707.0',
  '[72]'],
 ['Equatorial Guinea',
  'Bata',
  '201.5',
  '192.1',
  '173.6',
  '177.0',
  '189.1',
  '147.0',
  '142.6',
  '142.6',
  '114.0',
  '114.7',
  '141.0',
  '186.0',
  '1,921.2',
  '[73]'],
 ['Equatorial Guinea',
  'Malabo',
  '148.8',
  '152.5',
  '108.5',
  '120.0',
  '117.8',
  '69.0',
  '46.5',
  '58.9',
  '48.0',
  '68.2',
  '99.0',
  '139.5',
  '1,176.7',
  '[74]'],
 ['Namibia',

In [35]:
Sun_Africa=pd.DataFrame(data)

In [36]:
Sun_Africa.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Ivory Coast,Gagnoa,183.0,180.0,196.0,188.0,181.0,118.0,97.0,80.0,110.0,155.0,171.0,164.0,"1,823.0",[2]
1,Ivory Coast,Bouaké,242.0,224.0,219.0,194.0,208.0,145.0,104.0,82.0,115.0,170.0,191.0,198.0,"2,092.0",[2]
2,Ivory Coast,Abidjan,223.0,223.0,239.0,214.0,205.0,128.0,137.0,125.0,139.0,215.0,224.0,224.0,"2,296.0",[2]
3,Ivory Coast,Odienné,242.0,220.2,217.3,214.7,248.8,221.8,183.5,174.5,185.4,235.8,252.0,242.6,"2,638.6",[3]
4,Ivory Coast,Ferké,279.0,249.0,253.0,229.0,251.0,221.0,183.0,151.0,173.0,245.0,261.0,262.0,"2,757.0",[2]

In [37]:
Sun_Africa=Sun_Africa.drop(columns=[2,3,4,5,6,7,8,9,10,11,12,13,15]).head()

In [38]:
Sun_Africa

            0        1        14
0  Ivory Coast   Gagnoa  1,823.0
1  Ivory Coast   Bouaké  2,092.0
2  Ivory Coast  Abidjan  2,296.0
3  Ivory Coast  Odienné  2,638.6
4  Ivory Coast    Ferké  2,757.0

In [39]:
df.groupby(['Country']).groups

{'Algeria': [108], 'Benin': [98], 'Botswana': [145], 'Burkina Faso': [112], 'Burundi': [139], 'Cameroon': [90], 'Chad': [127], 'Comoros': [130], 'Congo (Brazzaville)': [82], 'Egypt': [131], 'Ethiopia': [132], 'Gabon': [111], 'Gambia': [97], 'Ghana': [94], 'Guinea': [101], 'Ivory Coast': [84], 'Kenya': [120], 'Lesotho': [144], 'Liberia': [119], 'Libya': [79], 'Madagascar': [134], 'Malawi': [143], 'Mali': [116], 'Mauritania': [133], 'Mauritius': [49], 'Morocco': [105], 'Mozambique': [114], 'Namibia': [123], 'Niger': [95], 'Nigeria': [115], 'Palestinian Territories': [124], 'Rwanda': [146], 'Senegal': [91], 'Sierra Leone': [137], 'South Africa': [102], 'Swaziland': [129], 'Tanzania': [141], 'Togo': [135], 'Tunisia': [121], 'Uganda': [118], 'Zambia': [136], 'Zimbabwe': [147]}

# GENDER INEQUALITY IN AFRICA

In [40]:
#CSV from UN Data, (3rd information source - http://data.un.org/)

In [41]:
import pandas as pd 
import numpy as np

In [42]:
df2 = pd.read_csv("Gender.csv", encoding='ISO-8859-1')

In [43]:
df2.head()

        Country Gender Inequality Index
0    Seychelles                      ..
1       Tunisia                     0.3
2      Botswana                   0.464
3         Libya                   0.172
4  South Africa                   0.422

In [51]:
df2=df2.rename(columns={"Gender Inequality Index":"Inequality"})

In [67]:
df.to_csv('../Proyecto_ETL/Gender-CLEAN.csv', index=False)

# SQL

In [ ]:
#no me está funcionando SQL..
# pasos: crear 3 bases de datos, 2 desde csv y 1 desde wikipedia, luego fusionarlas

In [52]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp38-cp38-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 235 kB/s eta 0:00:01    |█████▋                          | 4.4 MB 4.3 MB/s eta 0:00:05     |██████▉                         | 5.4 MB 4.3 MB/s eta 0:00:05     |█████████▉                      | 7.9 MB 4.3 MB/s eta 0:00:05     |██████████████████████████      | 20.7 MB 8.4 MB/s eta 0:00:01     |███████████████████████████▊    | 22.1 MB 8.4 MB/s eta 0:00:01
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 8.6 MB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /home/bribas/anaconda3/lib/python3.8/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.25 protobuf-3.17.0

In [86]:
import mysql.connector as conn

ModuleNotFoundError: No module named 'mysql'

In [57]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.0.3.tar.gz (88 kB)
    ERROR: Command errored out with exit status 1:
     command: /home/bribas/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-40br4i_8/mysqlclient/setup.py'"'"'; __file__='"'"'/tmp/pip-install-40br4i_8/mysqlclient/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /tmp/pip-pip-egg-info-8hfds6ro
         cwd: /tmp/pip-install-40br4i_8/mysqlclient/
    Complete output (15 lines):
    /bin/sh: 1: mysql_config: not found
    /bin/sh: 1: mariadb_config: not found
    /bin/sh: 1: mysql_config: not found
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-40br4i_8/mysqlclient/setup.py", line 15, in <module>
        metadata, options = get_config()
      File "/tmp/pip-install-40br4i_8/mysqlclient/setup_posix.py", line 70, in get_config
        libs = mysql_config("libs")
      File "/tmp/pip-install-40br4i_8/mysqlclient/setup_posix.py", line 31, in mysql_config
        raise OSError("{} not found".format(_mysql_config_path))
    OSError: mysql_config not found
    mysql_config --version
    mariadb_config --version
    mysql_config --libs
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [ ]:
#primera base de datos desde csv - World-happiness-report-2021-CLEAN.csv

In [60]:
create_db(happiness)

NameError: name 'create_db' is not defined

In [62]:
def crear_db(Happiness, user='root', password='password', check=True):
    
    crea_db=conn.connect(host='localhost', user=user, passwd=password)

    cursor=crea_db.cursor()

    cursor.execute(f'drop database if exists {Happiness}')
    cursor.execute(f'create database {Happiness}')
    
    print('done. ;)')
    
    if check:
        cursor.execute('show databases')
        for x in cursor:
            print(x)

In [63]:
def crear_tabla_desde_df(df, Africa, Happiness, user='root', password='password', check=True, drop=False):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=Happiness)
    cursor=db.cursor()
    
    if drop:
        cursor.execute(f'drop table if exists {Africa}')
    
    table=f"create table {Africa}(id int, {' varchar(200),'.join(df.columns)} varchar(200));"
    print(table)
    
    cursor.execute(tabla)
    
    print(f'Hecho, table {Africa} creada. ;)')
    
    if check:
        cursor.execute('show tables')
        for x in cursor:
            print(x)

In [64]:
def insertar_datos(df, Africa, Happiness, user='root', password='password', check=True):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    cursor=db.cursor()
    
    for i in range(len(df)):
    
        insert_query='insert into {} (id, {}) values {};'\
                     .format(Africa, ','.join(df.columns), tuple(np.insert(df.iloc[i].values, 0, i)))

        cursor.execute(insert_query)

    db.commit()
    
    print(f'done {Africa}. ;)')
    print()
    print(insert_query)

In [65]:
def leer_sql(query, Africa, Happiness, user='root', password='password'):
    
    db=conn.connect(host='localhost', user=user, passwd=password, database=nombre_db)
    
    data=pd.read_sql(query, db)
    
    return data

In [70]:
df4 = pd.read_csv("world-happiness-report-2021-CLEAN.csv", encoding='ISO-8859-1')

In [71]:
df5 = pd.read_csv("Gender-CLEAN.csv", encoding='ISO-8859-1')

In [74]:
df6df6=pd.read_csv('world-happiness-report-2021-CLEAN.csv')

df6.head()

,Country,Region,Happiness score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia,Social support.1,Healthy life expectancy.1,Freedom to make life choices.1
0,Mauritius,Sub-Saharan Africa,6.049,10.008,0.905,66.701,0.867,-0.054,0.789,2.43,0.996,0.574,0.590
1,Libya,Middle East and North Africa,5.410,9.622,0.827,62.300,0.771,-0.087,0.667,2.43,0.821,0.435,0.474
2,Congo (Brazzaville),Sub-Saharan Africa,5.342,8.117,0.636,58.221,0.695,-0.068,0.745,2.43,0.392,0.307,0.381
3,Ivory Coast,Sub-Saharan Africa,5.306,8.551,0.644,50.114,0.741,-0.016,0.794,2.43,0.409,0.052,0.438
4,Cameroon,Sub-Saharan Africa,5.142,8.189,0.710,53.515,0.731,0.026,0.848,2.43,0.556,0.159,0.425

In [75]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Country                         42 non-null     object
 1   Region                          42 non-null     object
 2   Happiness score                 42 non-null     float64
 3   GDP per capita                  42 non-null     float64
 4   Social support                  42 non-null     float64
 5   Healthy life expectancy         42 non-null     float64
 6   Freedom to make life choices    42 non-null     float64
 7   Generosity                      42 non-null     float64
 8   Perceptions of corruption       42 non-null     float64
 9   Dystopia                        42 non-null     float64
 10  Social support.1                42 non-null     float64
 11  Healthy life expectancy.1       42 non-null     float64
 12  Freedom to make life choices.1  42 non-null     float64
dtypes: float64(11), object(2)
memory usage: 4.4+ KB

In [ ]:
#segunda base de datos desde csv - Gender-CLEAN.csv

In [84]:
crear_db("proyectoetl", user='root', password="password", check=True)

NameError: name 'conn' is not defined

In [87]:
crear_tabla_desde_df7(df7, 'Gender', 'proceso_etl')

NameError: name 'conn' is not defined

In [ ]:
insertar_datos(df6, 'Gender', 'proceso_etl')

In [ ]:
leer_sql('select * from Gender limit 3', 'Gender', 'proceso_etl')

In [ ]:
#tercera base de datos desde Wikipedia (web scrapping)

In [88]:
PATH= webdriver.Chrome('/mnt/c/Users/banking12/desktop/lab_scraping_selenium/your-code/driver/chromedriver.exe')

url='https://en.wikipedia.org/wiki/List_of_cities_by_sunshine_duration'

In [90]:
%%time

driver=webdriver.Chrome('/mnt/c/Users/banking12/desktop/lab_scraping_selenium/your-code/driver/chromedriver.exe')

driver.get(url)

time.sleep(1)

tabla=driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[4]')

cabeza=tabla.find_element_by_tag_name('thead')

cabeceras=[e.text\
            .split('\n')[0]\
            .replace('\xad', '')\
            .replace(' ', '_')\
            .replace('.', '')\
            .lower()
           
           for e in cabeza.find_elements_by_tag_name('th')]



tabla=tabla.find_element_by_tag_name('tbody')

filas=tabla.find_elements_by_tag_name('tr')

elementos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas]

elementos

driver.quit()

CPU times: user 1.17 s, sys: 93.8 ms, total: 1.27 s
Wall time: 28.3 s

In [91]:
dfwiki=pd.DataFrame(elementos, columns=cabeceras)

df.head()

ValueError: 16 columns passed, passed data had 17 columns

In [94]:
dfwiki.info()

NameError: name 'dfwiki' is not defined

In [93]:
crear_tabla_desde_dfwiki(dfwiki, 'wiki', 'proceso_etl')

NameError: name 'conn' is not defined

In [ ]:
insertar_datos(dfwiki, 'dfwiki', 'proceso_etl')

In [ ]:
leer_sql('select * from dfwiki limit 3', 'dfwiki', 'proceso_etl')

# SQL FUSION DE TABLAS

In [ ]:
df6=leer_sql('select * from Africa', 'Africa', 'proceso_etl')

df7=leer_sql('select * from Gender', 'Gender', 'proceso_etl')

df_wiki=leer_sql('select * from wiki', 'wiki', 'proceso_etl')

In [ ]:
def cambiar_tipo(df):
    
    for c in df.columns:
        try:
            df[c]=df[c].astype(float)
        except:
            continue
            
    return df

In [ ]:
df6=cambiar_tipo(df_Africa)

df7=cambiar_tipo(df_Gender)

df_wiki=cambiar_tipo(df_wiki)

In [ ]:
df6_grupo=df_Africa.groupby('Country').mean().reset_index().drop('id', axis=1)

df6_grupo.head()

In [95]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [96]:
from fuzzywuzzy import process, fuzz

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [ ]:
merged=pd.merge(df_wiki, df6_grupo, left_on='match', right_on='Country')

merged.head(15)

In [ ]:
crear_tabla_desde_df(merged, 'fusion', 'proceso_etl', drop=True)

insertar_datos(merged, 'fusion', 'proceso_etl')

leer_sql('select * from fusion limit 3', 'fusion', 'proceso_etl')